@charset "utf-8";
/*
Page Info: 
Page ID: 8
Publish Date: Wednesday, April 20, 2011 1:47 PM

*/

body {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
}

/*--- Basic Tables --*/
#page table, table.matrix {
/*    margin: 10px;*/
/*    width: 100%;*/
}
#page table caption, table.matrix caption{
    text-align: left;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
#page table th, table.matrix th {
    font-weight: bold;
    padding: 5px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}
#page table td, table.matrix td {
    text-align: left;
    padding: 5px;
    font-size: 12px;
    line-height: 16px;
}


/* Basic Layout */
body {
    margin: 0px;
    padding: 0px;
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

